rq~=1.13.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch~=2.0.0
torchvision~=0.15.1
# label-studio-ml~=1.0.9
git+https://github.com/heartexlabs/label-studio-ml-backend.git
ultralytics~=8.0.58
coloredlogs~=15.0.1